// Sample linker command file for 16F690

LIBPATH  .

CODEPAGE   NAME=page0      START=0x0      END=0x7FF
CODEPAGE   NAME=page1      START=0x800    END=0xFFF
CODEPAGE   NAME=.idlocs    START=0x2000   END=0x2003   PROTECTED
CODEPAGE   NAME=.config    START=0x2007   END=0x2007   PROTECTED
CODEPAGE   NAME=.calib     START=0x2008   END=0x2008   PROTECTED
CODEPAGE   NAME=eedata     START=0x2100   END=0x21FF   PROTECTED

DATABANK   NAME=sfr0     START=0x0      END=0x1F     PROTECTED
DATABANK   NAME=sfr1     START=0x80     END=0x9F     PROTECTED
DATABANK   NAME=sfr2     START=0x100    END=0x11F    PROTECTED
DATABANK   NAME=sfr3     START=0x180    END=0x19F    PROTECTED

DATABANK   NAME=gpr0     START=0x20     END=0x6F
DATABANK   NAME=gpr1     START=0xA0     END=0xEF
DATABANK   NAME=gpr2     START=0x120    END=0x16F
  
SHAREBANK  NAME=gprnobnk START=0x70     END=0x7F
SHAREBANK  NAME=gprnobnk START=0xF0     END=0xFF     PROTECTED
SHAREBANK  NAME=gprnobnk START=0x170    END=0x17F    PROTECTED
SHAREBANK  NAME=gprnobnk START=0x1F0    END=0x1FF    PROTECTED

SECTION    NAME=PROG0    ROM=page0      // ROM code space 
SECTION    NAME=PROG1    ROM=page1      // ROM code space 
SECTION    NAME=IDLOCS   ROM=.idlocs    // ID locations
SECTION    NAME=CALIBR   ROM=.calib     // Calibration bits location
SECTION    NAME=DEEPROM  ROM=eedata     // Data EEPROM
