CONFIG_ESP32_XTAL_FREQ_40=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_WIDTH=135
CONFIG_OFFSETX=52
CONFIG_OFFSETY=40
CONFIG_MOSI_GPIO=19
CONFIG_CS_GPIO=5
CONFIG_DC_GPIO=16
CONFIG_RESET_GPIO=23
CONFIG_BL_GPIO=4
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
