# Constraints for design 's3esk_mini_top'.
# Revision D of the Spartan-3E Starter Kit.
# Serge Vakulenko - December 2006.

#
# Period constraint for 50MHz operation.
#
NET "clk" PERIOD = 20.0ns HIGH 50%;

#
# Soldered 50MHz clock.
#
NET "clk" LOC = "C9" | IOSTANDARD = LVTTL;

#
# Use button "south" as reset.
#
NET "rst" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;

#
# UART serial port (RS232 DCE) - connector DB9 female.
#
NET "uart_srx" LOC = "R7"  | IOSTANDARD = LVTTL ;
NET "uart_stx" LOC = "M14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;

#
# JTAG signals - on J4 6-pin accessory header.
# Use button "east" as trst.
#
NET "jtag_tms"  LOC = "D7"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "jtag_tdi"  LOC = "C7"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "jtag_tdo"  LOC = "F8"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "jtag_tck"  LOC = "E8"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "jtag_trst" LOC = "H13" | IOSTANDARD = LVCMOS33 | PULLDOWN ;

#
# End of file.
#
