movl %1,%%2
cmpl $%3,%%2
=
cmpl $%3,%1

movl %1,%%2
addl $1,%%2
movl %%2,%1
=
incl %1

movl %1,%%2
incl %%2
movl %%2,%1
=
incl %1

movl %1,%%2
subl $1,%%2
movl %%2,%1
=
decl %1

movl %1,%%2
addl %1,%%2
=
movl %1,%%2
addl %%2,%%2

addl $1,%1
=
incl %1

movl $%1,%%2
movl %%2,%3
movl %4,%%2
=
movl $%1,%3
movl %4,%%2

movl $%1,%%2
movl %%2,%3
jmp %4
=
movl $%1,%3
jmp %4

movl $%1,%%2
movl %%2,%3
movl $%1,%%2
=
movl $%1,%%2
movl %%2,%3

movl $1,%%1
addl %2,%%1
=
movl %2,%%1
incl %%1

movl %%1,%2
movl %2,%%1
=
movl %%1,%2

subl $1,%%2
=
decl %%2

movl %1,%%2
movl %%2,%3
movl %1,%%2
=
movl %1,%%2
movl %%2,%3

movl %1,%%2
addl $-1,%%2
movl %%2,%1
=
decl %1

movl %%1,%2
movl %3,%%1
movl %2,%%4
=
movl %%1,%2
movl %%1,%%4
movl %3,%%1

movl %1,%%2
incl %%2
movl %%2,%1
=
incl %1

movl %1,%%2
decl %%2
movl %%2,%1
=
decl %1

movl $0,%%1
addl %2,%%1
=
movl %2,%%1

movl %%1,%2
movl %3,%%1
cmpl %2,%%1
jg %4
=
movl %%1,%2
cmpl %3,%%1
jle %4

movl %%1,%2
movl %3,%%1
orl %2,%%1
=
movl %%1,%2
orl %3,%%1

jmp L%0
.align 4
L%0:
=
.align 4
L%0:

movl %0,%%1
movl %%1,%%2
movl %3,%%1
=
movl %0,%%2
movl %3,%%1

movl $%0,%%1
cmpl %2,%%1
je %3
=
cmpl $%0,%2
je %3

movl $%0,%%1
cmpl %2,%%1
jne %3
=
cmpl $%0,%2
jne %3

movl $%0,%%1
cmpl %2,%%1
jl %3
=
cmpl $%0,%2
jg %3

movl $%0,%%1
cmpl %2,%%1
jle %3
=
cmpl $%0,%2
jge %3

movl $%0,%%1
cmpl %2,%%1
jge %3
=
cmpl $%0,%2
jle %3

movl $%0,%%1
cmpl %2,%%1
jg %3
=
cmpl $%0,%2
jl %3

